* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: 'Symbols Nerd Font';
  
  // color: #bcaf9c;
  // font-size: 16px;
  font-weight: bold;
  // color: #902005;

}

//Global Styles
.bar {
  color: #b0b4bc;
  // padding: 5px;
  border-radius: 10px;
}

// Styles on classes (see eww.yuck for more information)


.mpd {
  font-size: 18px;
  color: rgba($color: #ab575c, $alpha: 1);
  background-color: rgba($color: #03aa80, $alpha: 0.65);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.module {
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  .icon {
    font-size: 15px;
    color: #902005;
  }

  .text{
    color: rgba($color: #ab575c, $alpha: 1);
    font-size: 16px;
  }
}

.network {
  background-color: rgba($color: #03aa80, $alpha: 0.65);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.volume {
  background-color: rgba($color: #184995, $alpha: 75);
  .icon {
    font-size: 15px;
    color: #8a4730;
  }

  .text{
    color: rgba($color: #e9dce5, $alpha: .8);
    font-size: 16px;
  }
}

.speed {
  background-color: rgba($color: #e290bd, $alpha: .8);
  .icon {
    font-size: 15px;
    color: #8a4730;
  }

  .text{
    color: rgba($color: #8a4730, $alpha: 1);
    font-size: 16px;
  }
}

.cpu {
  background-color: rgba($color: #105d67, $alpha: 1);
  .text{
    color: rgba($color: #faa563, $alpha: 1);
    font-size: 16px;
  }
}

.memory {
  background-color: rgba($color: #6a95b5, $alpha: 1);
  .text{
    color: rgba($color: #fbe6d8, $alpha: 1);
    font-size: 16px;
  }
}

.disk {
  background-color: rgba($color: #34718d, $alpha: 1);
  .text{
    color: rgba($color: #a90e10, $alpha: 1);
    font-size: 16px;
  }
}

.temperature {
  background-color: rgba($color: #1475bc, $alpha: 0.9);
  .text{
    color: rgba($color: #b44517, $alpha: 1);
    font-size: 16px;
  }
}


.datetime {
  background-color: rgba($color: #5de6c3, $alpha: 1);
}

.workspaces-widget {
  
  all: unset;

  background-color: rgba($color: #ab575c, $alpha: .5);

  border-radius: 10px;

  
  // background-color: #1E90FF;
  .workspace-entry {
    color: #bcaf9c;
    font-size: 15px;
  }

  .current {
    color: #03aa80;
    font-size: 20px;
  }
}






