* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#custom-separate {
    padding: 0px;
    margin: 0px;
    color: #4ee6e6;
    font-size: 25px;
}

window#waybar {
    background-color: rgba(186, 189, 196, 0.1);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.1); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* sway/workspaces */

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    /* box-shadow: inset 0 -3px #92cde9; */
    color: #4ee6e6;
}

#workspaces button.active {
    /* box-shadow: inset 0 -3px #92cde9; */
    color: #4ee6e6;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* sway/mode */

#mode {
    /* background-color: #64727D; */
    /* border-bottom: 3px solid #ffffff; */
    color: #ffffff;
    margin: 0px 7px;
}


/* mpd */
#mpd {
    color: #ffffff;
    padding-right: 10px;
}

#mpd.disconnected {
    color: #ffffff;
}

#mpd.stopped {
    color: #4ee6e6;
}

#mpd.paused {
    color: #ffffff;
}

#mpd.playing {
    color:#039191;
}

/* pulseaudio */

#pulseaudio {
    padding: 0 5px;
    padding-right: 10px;
    color: #ffffff;
}

#pulseaudio.muted {
    color:#039191;
}


/* network */

#network {
    padding: 0 5px;
    color: #ffffff;
}

#network.disconnected {
    color:#039191;
}

/* cpu */

#cpu {    
    color: #ffffff;
    padding: 0 5px;
}

/* memory */

#memory {
    padding: 0 5px;
    color: #ffffff;
}

/* temperature */

#temperature {
    padding: 0 5px;
    color: #ffffff;
}

#temperature.critical {
    background-color: #eb4d4b;
}


/* keyboard-state */

#keyboard-state {
    color: #ffffff;
    padding: 0 5px;
    min-width: 20px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(42, 129, 243, 0.2);
}

/* language */

#language {
    color: #ffffff;
    padding: 0 5px;
    min-width: 20px;
}

/* clock */

#clock {
    color: #ffffff;
    padding: 0 5px;
}

/* tray */

#tray {
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
